.item-collapse {
  padding: 0px 11px;
  border-bottom: 1px rgb(186, 186, 186) solid;
}

.showMore {
  text-align: center;
  background-color: rgb(246, 246, 246);
}

.showMoreContent {
  background-color: rgb(246, 246, 246);
}