.item-collapse {
  padding: 0px 11px;
  border-bottom: 2px #767676 solid;
  margin-bottom: 25px;
}

.showMore {
  text-align: center;
}

.showMoreContent {
  background-color: #f8f8f8;
  padding: 20px 0px;
}