/* Basic Layout Structure */
/* .content-position {
  margin-left: 250px;
} */

.content-body {  
  padding: 25px;
}

/* Branding */

.primary-color {
  color: #0BB6C0;
}

.primary-bg-color {
  background-color: #0BB6C0;
}

/* Navbar */

.navbar {
  z-index: 99;
}

.navbar-toggle {
  margin-left: 20px;
  display: inline;
}

.navbar-body {
  height: 75px;
  border-bottom: 1px solid #c0c0c0;
}


.profile-icon {
  border-radius: 100%;
  background-color: #fff;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #0BB6C0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}


/* Sidebar CSS */


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0ccdd7fa!important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 50px;
  z-index: 98;
}

.sidenav .logo {
  display: block;
  margin: 0 auto;
}

.sidenav-menu {
  list-style-type: none;
}

.sidenav-menu li {  
  color: #fff;
}

.sidenav-menu .nav-link {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 12px 16px;
  border-radius: 10px;
}

.sidenav-menu .nav-link:hover {
  background-color: #fff;
  color: #000;
}




/* Box styles */

.outlined-box {
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
}

.shadow-box {
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.094);
}

.summary .title{
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
}

.summary .subtitle{
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  text-transform: uppercase;
  color: #6d6d6d;
}

/* Elements */

h1 {
  font-family: "Inter", sans-serif;
  font-size: 36px !important;
  font-weight: 900 !important;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 28px !important;
  font-weight: 700 !important;
}

/* Padding by percentage */


.mn10 {
  margin-left: -20px;
}

.p3-per {
  padding: 3%
}

.p10-per {
  padding: 10%
}

.b16-mon {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.b18-mon {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.b22-mon {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.dashed {
    border-top: 1px dashed #c0c0c0;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.form-check-label {
  font-size: 15px !important;
  font-weight: 400 !important;
}

button {
  border-style: none;
  border-radius: 5px !important;
  background-color: #0BB6C0;
  padding: 10px;
}

button .btn-link {
  font-family: "Sora", sans-serif;
  color: #fff;
  text-decoration: none;
}

.flight-list-info {
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.calendar {
  width: 100px;
  border-style: none;
  border-bottom: solid 3px #0BB6C0;
}

.autocomplete-container {
  position: relative;
}

.autocomplete-input {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #ededed; 
  list-style-type: none;
  margin:0;
  padding: 0;
  max-height: 100px; 
  overflow: scroll;
  scrollbar-width: none;
}

.autocomplete-item {
  padding: 10px;
}

.autocomplete-item:hover {
  background-color: #0BB6C0;
  color: #fff;
}

/* ------------------------------------------ */

