
#navbar-container {
  position: absolute;
  top: 0;
  width:250px;
  background: #00B7BD;
  height: 100vh;
  display: flex;
}

.navbar-body {
  margin: auto;
}

.nav-link, .btn-link {
  padding: 10px !important;
  color: #fff !important;
  text-decoration: none !important;
  text-transform: uppercase;
}

#content-container {
  margin-left: 250px;
  background: #fff;
  height: 100vh;
  display: flex;
}


#content-body {
  margin: auto;
  min-width: 700px;
  /* width: 60%;
  font-size:12px; */
}

.font-highlights, .font-headers {
  color: #00B7BD;
}

.btn-save {
  border: none;
  border-radius: 5px;
  background-color: #00B7BD;
  color: #fff;
  padding: 5px 50px 8px;
  float: right;
}

.listItem {
  padding: 25px;
  border-bottom: solid 2px black;
}

.listItemMajor {
  color:#00B7BD;
 font-weight: bold;
 font-size: 15px;
}

.listItemMinor {
 font-size: 9px;
}

.item-collapse {
  padding: 25px 25px 11px;
  margin-bottom: 25px;
}

.showMoreCollapsed {
  text-align: center;
  background-color: #00B7BD;
  border-radius: 0px 0px 20px 20px;
}

.showMoreOpen {
  text-align: center;
  background-color: #00B7BD;
}

.showMoreContent {
  background-color: #00B7BD;
  border-radius: 0px 0px 20px 20px;
  padding: 20px 0px;
}