body {
  background-color: #fff;
}

.content-body{
  margin: auto;
  width: 600px;
}

.nav-link {
  color: #fff !important
}

.font-highlights {
  color: #0d5d93
}

.btn-save {
  border: none;
  border-radius: 5px;
  background-color: #00B7BD;
  color: #fff;
  padding: 5px 50px 8px;
  float: right;
}

.listItem {
  padding: 25px;
  border-bottom: solid 2px black;
}

.listItemMajor {
 font-weight: bold;
 font-size: 15px;
}

.listItemMinor {
 font-size: 9px;
}