/* Basic Layout Structure */
$error-color: #d65d5d;

$color-blue: #32AAAA;
$color-blue-accent: #155472;
$color-white: #F7F2EB;
$color-orange: #D87151;
$color-orange-accent: #EEBC69;


@mixin font-mon($font:16px, $weight: 700) {
  font-family: "Montserrat", sans-serif;
  font-weight: $weight;
  font-size: $font;
}

@mixin box($padding:20px) {
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  padding: $padding;
}

.breadcrumb-container {
  background-color: $color-white;
  // background-color: #fff;
  padding: 10px 25px;
  border-bottom: 1px solid $color-white;
  // position:fixed;
  top:60;
  width:100%;
  z-index:99;

  .breadcrumb {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
  }


  a {
    color:#D87151;
    text-decoration: underline;

    &:visited {
      color: #D87151;
      text-decoration: underline;
    }
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.878); /* Semi-transparent white background */
  z-index: 9999; /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-body {  
  padding: 25px;
  margin: 0 auto;
  max-width: 700px;
  overflow: visible;
}

.link-style {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.link-action {
  color: $color-orange
}

a {
  &:link {
    text-decoration: none;
    color: $color-blue;
  }
  &:visited {
    text-decoration: none;
    color: $color-blue;
  }
  &hover {
    text-decoration: none;
    color: #47a1ad;
  }
  &active {
    text-decoration: none;
  }
}

.dashed-line {
  border-top: 1px dashed #797979;
  margin: 30px;
}

.ticket {
  position: relative;
  border: 1px solid #dadada;
  border-radius: 10px;
  background: white;
  color: black;
  display: inline-block;
  padding: 1em 2em;
  width: 100%;
}
.ticket:before,
.ticket:after{
  height:90px;
  width:45px;
  content: '';
  position: absolute;
  top: 2em;
  top: calc(100% - 57%);
  height: 30px;
  width: 15px;
  border: 1px solid #dadada;
  background-color: #fff;

}
.ticket:before {
  left: -2px;
  border-radius: 0 1em 1em 0;
  border-left-color: white;
}
.ticket:after {
  right: -2px;
  border-radius: 1em 0 0 1em;
  border-right-color: white;
}


/* Branding */


.primary-bg-color {
  background-color: $color-blue;
}

.light-bg-color {
  background-color: #eefafa;
}

/* Navbar */

.navbar {
  position: fixed !important;
  background-color: $color-blue;
  height: 60px;
  width: 100%; /* Set navbar width to 100% */
  top: 0;
  left: 0;
  z-index:100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 7px !important;

  .toggle {
    display: flex;
  }

  .logo-container {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .logo {
      margin: 0 auto; 
    }
  
  }
  .profile-icon {

    display: flex; /* Make the profile icon container a flex container */


    .img-edit {
      .profile-img {
        color: $color-orange;
        background-color: #fff;
        margin: 0;
        height: 40px;
        width: 40px;
        font-size: 25px;
      }
    }
    
  }


}


.profile {
  .label {@include font-mon(16px, 700);}

  .outlined-box {
    @include box(25px 25px 10px);
  }

  button {
    background-color: $color-orange;
  }
}



.profile-icon {
  white-space: nowrap;
  position: relative; /* Set position to relative */
  
  .img-edit {
    position: relative;

    .profile-img {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: $color-orange;
      color: $color-white;
      height: 90px;
      width: 90px;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      margin: 5px auto 10px;
    }
      
    // .edit {
    //   position: absolute;
    //   right: -1px;
    //   top: 70px;
    //   z-index: 1;
    // }
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

/* Sidebar CSS */


.sidenav {
  height: calc(100% - 60px);
  width: 0;
  position: fixed;
  top: 61px;
  left: 0;
  background-color:#fff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index:100;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.05);


  h1 {
    color: $color-orange-accent;
  }

  .menu {
    list-style-type: none;
    padding-left: 0;

    li {  
      white-space:nowrap;
    }

    .nav-link {
      font-family: "Sora", sans-serif;
      font-size: 18px;
      line-height: 24px;
      color: $color-blue-accent;
      padding: 20px 12px 15px;
      // border-radius: 10px;
      border-bottom: 1px solid #1555727c;
      // font-weight: 900;

      &:hover {
        // font-weight: 900;
        color: $color-orange-accent
      }
    }
  }
}







/* Box styles */


.form-check-input:checked {
  background-color: $color-blue !important;
  border-color: $color-blue !important;
}

.outlined-box {
  // @include box(25px);
  @include box(15px);
  border: 1px solid #dadada;

  h3 {
    color: $color-blue;
  }
}

.shadow-box {
  @include box(15px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.094);
}

.solid-box {
  @include box(15px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
  background-color: $color-blue;
  color: $color-white
}

.container {
  overflow: hidden;
  .collapsible {
    padding: 25px;
  }
}


.summary {
  .title{
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
  }

  .subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    text-transform: uppercase;
    color: #6d6d6d;
  }

  .timeline {
    padding: 20px
  }

}

/* Elements */


.primary-color {
  color: $color-blue
}

.error-color {
  color: $color-orange;
}

.white-color {
  color: $color-white;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 36px !important;
  font-weight: 900 !important;
}

h2 {
  color: $color-blue-accent !important;
  font-family: "Inter", sans-serif;
  font-size: 26px !important;
  // font-weight: 700 !important;
  text-transform: uppercase;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 22px !important;
    font-weight: 700 !important;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 18px !important;
  font-weight: 500 !important;
}


/* Padding by percentage */


.b13-mon {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}


.b18-mon {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.b22-mon {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

label, .label {
  font-family: "Inter", sans-serif;
  font-size: 16px !important;
  font-weight: 600 !important;

  &.form-check-label {
    font-size: 14px !important;
    font-weight: 400 !important;
  }
}

button {
  border-style: none;
  border-radius: 5px !important;
  background-color: $color-orange;
  color: #fff;
  padding: 10px;

  .btn-link {
    font-family: "Sora", sans-serif;
    color: $color-white;
    text-decoration: none;

    
      &:link {
        text-decoration: none;
        color: $color-white;
      }
      &:visited {
        text-decoration: none;
        color: $color-white;
      }
      &:hover {
        text-decoration: none;
        color: $color-white;
      }
      &:active {
        text-decoration: none;
        color: $color-white;
      }
  }
}

.date-time {
  text-align: center;
  width: 105px;
  border: none;
  border-radius: 0px;
  border-bottom: solid 3px $color-blue;
}

//Override changes for Date Container
.react-datepicker {
  border:  none !important;

  .react-datepicker__year-read-view--down-arrow, 
  .react-datepicker__month-read-view--down-arrow, 
  .react-datepicker__month-year-read-view--down-arrow, 
  .react-datepicker__navigation-icon::before {
    border-color: $color-white!important;
  } 

  .react-datepicker__navigation--previous {
    left: 30px;
  }

  .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 110px;
  }

  .react-datepicker__header {
    background-color: $color-blue !important;
    border:  none !important;
    
    
    .react-datepicker__current-month {
      color:$color-white !important;
      padding: 5px 0 10px !important;
      font-size: 16px !important;
      letter-spacing: 1px !important ;
    }

    .react-datepicker__day-names {
    background-color: #ededed;

      .react-datepicker__day-name{
        font-weight: 700;
      }
    }
  }
 
  .react-datepicker__navigation--next, .react-datepicker__navigation--previous {
    height: 43px !important;
    margin-left: -20px;
  }
 
  .react-datepicker__day--selected {
    background-color: $color-blue !important;
    border-radius: 100% !important;
  }
}
 
//Override changes for Time Container

.react-datepicker__time{
  border-radius: 10px !important;
}

.react-datepicker__time-container {
  width: 85px !important;

  
  .react-datepicker-time__header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    height: 25px;
  }

  .react-datepicker__time-box{
    width: 83px !important;
    font-size: 14px !important;

    .react-datepicker__time-list {
      height: 275px !important;
    }
  }
}


.autocomplete-container {

  .autocomplete-input {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #ededed; 
    list-style-type: none;
    margin:0;
    padding: 0;
    max-height: 100px; 
    overflow: scroll;
    scrollbar-width: none;
    background-color: #029ba3;
    color: $color-white;
    border-radius: 5px;

    .autocomplete-item {
      padding: 10px;

      :hover {
        background-color: $color-blue;
        color: $color-white;
      }
    }
  }
};

.flight-list {
  .shadow-box {
    @include box(15px 15px 10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.094);
    margin-bottom: 25px;
  }
 
  .header {
    text-align: center;
    line-height: 20px;
    color: $color-blue;
    @include font-mon(20px);

    .airport-city {
      @include font-mon(13px, 500);
    }

    .icon {
      margin: 7px 0 5px;
    }
  }

  .input-title {
    @include font-mon(16px, 700);
    color: $color-blue-accent;
  }

};


.roundtrip-inputs {
  .header {
    @include font-mon(20px, 700);
    color: $color-blue;
    text-transform: uppercase;
    margin: 25px 0 0 -10px;

  }
}

.activity {
  .ticketed {
    button {
      background-color: #bcc8c9;
    }
  }
  
}

.thumbnail {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 100%;
}

.modal-dialog {
  .modal-content {
    overflow: hidden;
    padding: 0px 5px 5px;
 

    .title {
      display: flex;
      justify-content: start;
      align-items: center;
padding: 10px;
    }
    .close{
      display: flex;
      justify-content: end;
padding: 10px;

    }
    .ticket {
      width: 100%;
    }
  }
}

.trip-selections{
  margin-left: 15px;
  .item-select{
    display: flex;
    align-items: center;
    margin: 10px 0
  }
}

.note-list {


  ul {
    padding: 0;
    list-style-type: none;

    .shadow-box {
      @include box(25px);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.094);
      margin-bottom: 25px;
    }
  }
}




.itinerary {
  ul {
    list-style-type: none;
    padding: 0;
    margin: auto
  }

  li {
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 20px;
  }

  li:before {
    background-color: $color-blue;
    width: 2px;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 5px;
  }
      

  li:first-child:before { top: 15px;  }


  li:last-child:before { height: 10px; }
      

  .bullet { margin-left: -24px; width: 20px; fill: $color-blue; float: left }
  .bullet.big { width: 16px; margin-left: -22px; padding-right: 8px }
};

.form-check-input, .form-control {
  border: solid 1px #c0c0c0 !important;
}